.header {
  text-align: center;
  padding: 6px;
}

.header h2 {
  padding: 3px;
}

.header p {
  padding: 3px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6%;
  height: 100%;
}

.sub_container {
  /* width: 100%; */
  padding: 26px;
  /* margin: 0 16px; */
}

.main-body {
  padding: 8px;
}

input {
  padding: 8px;
  width: 110%;
}

.btn {
  padding: 13px;
  background-color: chartreuse;
  width: 118%;
  margin-bottom: 6px;
  cursor: pointer;
}

span {
  padding: 10px;
  width: 100%;
  /* margin: 12px; */
}

.button {
  padding: 2.5px;
  /* margin: 3px; */
  background-color: burlywood;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}
